
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
<footer id="footer">
  <div class="footer-content">
  <div class="container">
  <div class="row">
  <div class="col-lg-4 col-md-6">
  <div class="widget  widget-contact-us" style="background-image: url("static/cryptoguidetrading/home/images/world-map-dark.png"); background-position: 50% 20px; background-repeat: no-repeat">
  <h4>Our Contacts</h4>
  <ul class="list-icon">
      
  <li>
  <i class="fa fa-clock"></i>Monday - Friday: <strong>08:00 - 22:00</strong> <br>
  Saturday, Sunday: <strong>Closed</strong>
  </li>
  </ul>
  </div>
  </div>
  <div class="col-lg-3  col-lg-2 col-md-6">
  <div class="widget">
  <h4>Quick Links</h4>
  <ul class="list" style="padding-left: 0 !important;">
  <li><a href="index.html">Home</a></li>
  <li><a href="about/index.html">About Us</a></li>
  <li><a href="affiliate.html">Affiliate</a></li>
  <li><a href="terms.html">Terms and Conditions</a></li>
  <li><a href="register.html" uk-toggle>Create Account</a></li>
  <li><a href="login.html" uk-toggle>Account Login</a></li>
  </ul>
  </div>
  </div>
  <div class="col-lg-5 col-lg-2 col-md-12">
  <p><a href="#"><img style="height: 100px; width: 100%; object-fit: cover" src="static/cryptoguidetrading/home/site-images/site_logo/cover.png" alt="logo"></a></p>
  <p> Crypto Guide Trading is dedicated to helping investors around the world reach
  their desired investment goals and broaden their financial horizons.
  <br><br>
  We seek to provide world-class investment expertise across a breadth of markets and
  asset classes. Coupled with a wide
  range of investment approaches, we transform new investment ideas into practical
  investment products designed to deliver real value for money to investors.
  </p>
  </div>
  </div>
  </div>
  </div>
  <div class="copyright-content">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div class="social-icons social-icons">
  <ul>
  
  
  
  
  
  </ul>
  </div>
  </div>
  <div class="col-lg-6 text-right">
  <div class="copyright-text">© 2024 Crypto Guide Trading. All Rights Reserved. </div>
  </div>
  </div>
  </div>
  </div>
  </footer>
  
  
  
  </div>
  <a id="scrollTop"><i class="fa fa-chevron-up"></i><i class="fa fa-chevron-up"></i></a>
  
  <script src="static/cryptoguidetrading/home/js/jquery.js"></script>
  
  <script src="static/cryptoguidetrading/home/js/plugins.js"></script>
  <script src="static/cryptoguidetrading/home/plugins/particles/particles.js"></script>
  <script src="static/cryptoguidetrading/home/plugins/particles/particles-dots.js"></script>
  
  <script src="static/cryptoguidetrading/home/imported-js.js"></script>
  <script src="static/cryptoguidetrading/home/inc-js/js/vendors/indonez.min.js"></script>
  <script src="static/cryptoguidetrading/home/config-theme.js"></script>
  <script src="static/cryptoguidetrading/home/inc-js/js/config-theme.html"></script>
  <script src="../unpkg.com/flickity%402.3.0/dist/flickity.pkgd.min.js"></script>

  <script src="static/cryptoguidetrading/home/js/plugins.js"></script>

  <script src="static/cryptoguidetrading/home/js/functions.js"></script>
  <script src="static/cryptoguidetrading/home/inc-js/js/vendors/uikit.min.js"></script>
  <script src="static/cryptoguidetrading/home/secured/sweetalert2/dist/sweetalert2.min.js"></script>
  
  <!--tidio live chart script-->
  <script src="../code.tidio.co_443/4qmtx0p4zvewtrbszoq1jgrldg5smtik.js" async></script>

  </body>
  
  
<!-- Mirrored from cryptoguidetrading1.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Mar 2024 02:19:57 GMT -->
</html>