<%- include('partials/_header'); -%>


<!--messages-->
<div class="messages" style="text-align: center;">
    
</div>
<!--end messages-->
    <style>
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;} 
.goog-text-highlight { background: none !important; box-shadow: none !important;}



.goog-logo-link{display: none !important;}
.goog-te-gadget{height: 50px !important;  overflow: hidden;}



body{ top: 0 !important;}
.goog-te-banner-frame{display: none !important;}

    </style>
    <!-- ========== END COPYING HERE ========== -->


    
<body>
<div class="body-inner">

<div style="background: #013c5c;">
<center>
    <style type="text/css">
                                .ekemm3kmem {
                                    width: unset;
    
                                    background-color: #eeeeeeee !important;
                                    border-color: #eeeeeeee !important;
                                    color: #333 !important;
                                }
                                </style>
    
    
     <!--start google translator-->
     <div id="google_translate_element" style="width:200px;"></div>
    
     <script type="text/javascript">
         function googleTranslateElementInit() {
           new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
         }
         </script>
         
         <script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
    <!--end google translator-->
    
    
    </center>
</div>
<header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
    <div class="container">
    <style>
            #logo .logo-dark img {
                width: 260px;
                height: 42px;
                object-fit: contain;
            }
    
            #logo .logo-default img {
                width: 240px;
            }
    
    
            @media(min-width: 1024px) {
                .hhwwjwjku72jk {
                    /* position: relative;
        top: 20px; */
                }
            }
            </style>
    <div id="logo">
    <a href="/">
    <span class="logo-default"><img src="static/cryptoguidetrading/home/site-images/site_logo/logo1/bg-rmv1.png" /></span>
    <span class="logo-dark"><img src="static/cryptoguidetrading/home/site-images/site_logo/bg-rmv.png" /></span>
    </a>
    </div>
    <div id="mainMenu-trigger">
    <a class="lines-button x"><span class="lines"></span></a>
    </div>
    <div id="mainMenu">
    <div class="container hhwwjwjku72jk">
    <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li class="dropdown"><a href="/about">Company</a>
    <ul class="dropdown-menu">
    <li><a href="/about">About Us</a></li>
    <li><a href="/terms">Legal and Terms</a></li>
    </ul>
    </li>
    <li><a href="/inv-plans">Our Packages</a></li>
    <li><a href="/affiliate">Affiliate</a></li>
    <li class="dropdown"><a href="#">Account</a>
    <ul class="dropdown-menu">
    
    <li><a href="/register" uk-toggle>Open Account</a></li>
    <li><a href="/login" uk-toggle>Acount Login</a></li>
    
    
    </ul>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </header>
<div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
<div class="slide kenburns" style="background-image:url('static/cryptoguidetrading/home/site-images/image-8.jpg');">
<div class="bg-overlay"></div>
<div class="container">
<div class="slide-captions text-center text-light">
<span class="strong">Cryptoguide Trading1</span>
<h1>Affiliate</h1>
</div>
</div>
</div>
</div>
<section style="padding-bottom: 20px !important;">
<div class="container">
<div class="heading-text heading-line text-center">
<h4>AFFILIATE</h4>
</div>
<div class="row">
<div class="col-lg-12">
<p class="text-center">Cryptoguide Trading1</p>
<div class="text-container">
<p> Strategy matters. Cryptoguide Trading1's approach to managing investments on behalf
of our clients is
to combine an in-depth appreciation of their unique circumstances and objectives with
the investment capacity of a large-scale institutional investor. That means knowing when
to apply traditional strategies and when to deviate to ensure consistent, strong
risk-adjusted returns.
</p>
<p>We offer national and international long-term investing for our users. We know
that the asset investment space is going to bring together international investors of
all levels
and so we have worked to build a platform that will attract investors and capital from
all over the world.</p>
<br>
<h4 class="page__main__title text-center uppercase" style="text-transform: uppercase; text-align: center; font-size: 25px"><b>So how does it
work?</b></h4>
<br>
<h3 class="page__main__title">Promote
Cryptoguide Trading1 Investmets</h3>
<p>
Not everyone is at the same level when it comes to asset management or investing in
general. We aim to
educate our users so that they become more familiar and comfortable with investing
conditions and earn as much money as possible.
Becoming a partner of ours is fast, easy and takes just a moment. Once you register you
will be given your own partnership or affiliate link. You can use this link on or
offline with family, friends, acquaintances, or customers. However you want to use and
market your link is up to you.
Many of our users have had great success finding new investors on social media, via
email, word of mouth, chat, text or advertising banners. It doesn’t matter how someone
finds your link so long as they click on it and sign up to be a registered user.
Once they have signed up using your personal affiliate link they become one of your
referrals.
</p>
<h3 class="page__main__title">Get affiliates
&amp; earn money</h3>
<p>
As soon as your referral starts investing, you start earning a commission.
You will receive a 20% reward for thier initial amount they invest with. This is considered a tier one
referral. Our goal is to reward you every step of the way and help you grow your wealth. There is
no cap or end to those rewards for as long as any referral in any tier stays active and
stays invested.
Your commissions are received automatically and you can invest or withdraw them at any
time.
We want you to succeed in your investing goals and wealth creation and help all those
that you come in contact with do the same thing.
Let’s work together and change your future starting today.
</p>
</div>
</div>
</div>
</div>
</section>
<div class="uk-section" style="padding-top: 0px !important;">
<div class="uk-container">
<div class="uk-grid">
<div class="uk-width-1-1">
<div class="uk-card uk-card-secondary uk-background-cover uk-light" style="background-image: linear-gradient(to bottom, rgb(117 127 187 / 52%), rgb(1 44 106)),
                url(static/cryptoguidetrading/home/site-images/trading-desk-1536x1024.jpg)">
<div class="uk-card-body">
<div class="uk-grid uk-flex-middle">
<div class="uk-width-2-4@m">
<style>
                                    @media(min-width: 830px) {
                                        h2.hhwj6738 {
                                            width: 50% !important;
                                        }
                                    }
                                    </style>
<h2 class="uk-margin-remove-bottom hhwj6738 center-pos" style="color: #fff !important; font-size: 20px !important;">Cryptoguide Trading1 Elite Affiliate Program</h2>
<p class="uk-margin-small-top" style="color: #fff !important; ">Get even more
profit by attracting other participants as your referrals. <br> We propose
you to take advantage of a convenient referral system. <br> As
soon as your referral starts investing, you start earning a commission. You
will receive a 20% reward for thier initial amount they invest with.
</p> <a class="uk-button uk-button-primary uk-button-large uk-border-rounded" href="register.html" uk-toggle>Open
an Account</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<style type="text/css">
.input-sty{
    background-color: transparent; min-height: 50px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid rgba(241, 241, 241, 0.25)!important;
    padding: 10px 15px!important;
    background-color: transparent!important;
    color: #fff!important; 
    font-family : Roboto, sans-serif!important; 
    font-weight: 400!important; 
    font-size: 16px!important;
}

.access-btn-fill {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #ffbd3f;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.access-btn {
  background: #01123c !important;
  color: #fff !important;
}

.access-btn:hover{
    background-color: #013c5c!important;
}

.swal2-container{
    z-index: 9999999999999999!important
}
</style>





<%- include('partials/_footer'); -%>