
	

<!-- Mirrored from cryptoguidetrading1.com/login by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Mar 2024 02:20:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:title" content=" Crypto guide Trading1 - Trusted platform for earning cryptocurrency." />
	<meta property="og:type" content="website">

	<meta property="og:image" content="static/cryptoguidetrading/images/faviconban.png">
	<meta property="og:description" content=" Crypto guide Trading1 is a Trusted platform for earning cryptocurrency."> 
	<meta property="og:site_name" content="Crypto guide Trading1"> 

		<!-- Title -->
		<title>Crypto guide Trading1 -  Sign In </title>

		<!-- Favicon -->
		<link rel="stylesheet" href="../stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link rel="icon" href="static/cryptoguidetrading/images/favicon.png" type="image/x-icon"/>

		<!-- Icons css -->
		<link href="static/cryptoguidetrading/assets/css/icons.css" rel="stylesheet">

		<!--  Right-sidemenu css -->
		<link href="static/cryptoguidetrading/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!--  Custom Scroll bar-->
		<link href="static/cryptoguidetrading/assets/plugins/mscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

		<!--  Left-Sidebar css -->
		<link href="static/cryptoguidetrading/assets/css/sidemenu.css" rel="stylesheet">

		<!-- style css-->
		<link href="static/cryptoguidetrading/assets/css/style.css" rel="stylesheet">

		<!-- skin css-->
		<link href="static/cryptoguidetrading/assets/css/skin-modes.css" rel="stylesheet">

		<!-- dark-theme css-->
		<link href="static/cryptoguidetrading/assets/css/style-dark.css" rel="stylesheet">

		<!--- Animations css-->
		<link href="static/cryptoguidetrading/assets/css/animate.css" rel="stylesheet">

<!--Start of Tawk.to Script-->
<!--End of Tawk.to Script-->
	</head>
	
	<body class="main-body dark-theme bg_img">

		<!-- Loader -->
		<div id="global-loader" class="dark-loader">
			<img src="static/cryptoguidetrading/assets/img/loaders/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- main-signin-wrapper -->
		
		<div class="my-auto page page-h">
			<div class="main-signin-wrapper">
				<div class="main-card-signin d-md-flex wd-100p">
				<div class="wd-md-50p login d-none d-md-block page-signin-style p-5 text-white" >
					<div class="my-auto authentication-pages">
						<div>
							<img src="static/cryptoguidetrading/images/luxurypips.png" class=" m-0 mb-4" alt="logo">
<hr>
                            							<p class="mb-5">
							    <span class='mb-5'> Want To Start Trading But Don’t Know How? Our 3-steps Easy Will Set You on Your Way! We Offer 24/7 Support, Online Training From Experts & More.</span>							    
							</p>
							
						</div>
					</div>
				</div>
				<div class="p-5 wd-md-50p">
					<div class="main-signin-header">
						<h2>Welcome back!</h2>
						<h4>Please sign in to continue</h4>
						         <form action="/login" method="POST" >
									
        <div class="form-group">
            <label class="label">E-mail</label>
            <div class="input-group">
				<input type="email" name="email" maxlength="225" required class="form-control" placeholder="E-mail" name="email" id="email">
                       <span class="email error"></span>
              <div class="input-group-append">
                <span class="input-group-text "><i class="icon-check"></i></span>
				<span class="email error"></span>
            </div>
           </div>
            
                    
                    </div>
        <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
				<input type="password" name="password" required class="form-control" placeholder="Password" name="password" id="password">
            <div class="input-group-append">
                <span class="input-group-text "><i class="icon-check"></i></span>
				<span class="password error"></span>
            </div>

             </div>
			
        </div>
        <div class="form-group">
            <button class="btn btn-primary submit-btn btn-block" name="login">Login</button>
        </div>
      
      
      <div class="row">


        <div class="form-group d-flex justify-content-between">
            <div class="form-check form-check-flat mt-0">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" checked>
                Remember My Login
            </label>
            </div>
        </div>
      
        </form>
        						
						
					</div>
					<div class="main-signin-footer mt-3 mg-t-5">
						<p><a href="#">Forgot password?</a></p>
						<p>Don't have an account? <a href="/register">Create an Account</a></p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- /main-signin-wrapper -->

        <center>&copy; 2024 Crypto guide Trading1. All Rights Reserved.</center>
				
		<script>
			const form = document.querySelector('form');
			 const emailError = document.querySelector('.email.error');
			 const passwordError = document.querySelector('.password.error');
			 form.addEventListener('submit', async (e) => {
			   e.preventDefault();
			   // reset errors
			   emailError.textContent = '';
			   passwordError.textContent = '';
			   // get values
			   const email = form.email.value;
			   const password = form.password.value;
			   try {
				 const res = await fetch('/login', { 
				   method: 'POST', 
				   body: JSON.stringify({ email, password }),
				   headers: {'Content-Type': 'application/json'}
				 });
				 const data = await res.json();
				 // console.log(data);
				 if (data.errors) {
				   emailError.textContent = data.errors.email;
				   passwordError.textContent = data.errors.password;
				 }
				 if (data.user) {
				   location.assign('/dashboard');
				 }
			   }
			   catch (err) {
				 console.log(err);
			   }
			 });
		   
		   
		   </script>
		
		<!-- JQuery min js -->
		<script src="static/cryptoguidetrading/assets/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap Bundle js -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %}" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		

		<script src="static/cryptoguidetrading/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Ionicons js -->
		<script src="static/cryptoguidetrading/assets/plugins/ionicons/ionicons.js"></script>

		<!-- Moment js -->
		<script src="static/cryptoguidetrading/assets/plugins/moment/moment.js"></script>

		<!-- eva-icons js -->
		<script src="static/cryptoguidetrading/assets/js/eva-icons.min.js"></script>

		<!-- Rating js-->
		<script src="static/cryptoguidetrading/assets/plugins/rating/jquery.rating-stars.js"></script>
		<script src="static/cryptoguidetrading/assets/plugins/rating/jquery.barrating.js"></script>

		<!-- Custom js -->
		<script src="static/cryptoguidetrading/assets/js/custom.js"></script>

	</body>
