

<!-- <!DOCTYPE html>
<html lang="en"> -->
	

<!-- Mirrored from cryptoguidetrading1.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Mar 2024 02:20:47 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:title" content="Crypto guide Trading1 - Trusted platform for earning cryptocurrency." />
	<meta property="og:type" content="website">

	<meta property="og:image" content="static/cryptoguidetrading/images/faviconban.png">
	<meta property="og:description" content=" Crypto guide Trading1 is a Trusted platform for earning cryptocurrency."> 
	<meta property="og:site_name" content=" Crypto guide Trading1"> 

		<meta name="Keywords" content="Fx Trading, Bitcoin Trading, Investment "/>

		<!-- Title -->
		<title> Crypto guide Trading1 - Register </title>

		<!-- Favicon -->
		<link rel="stylesheet" href="../stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		
		<link rel="icon" href="static/cryptoguidetrading/images/favicon.png" type="image/x-icon"/>

		<!-- Icons css -->
		<link href="static/cryptoguidetrading/assets/css/icons.css" rel="stylesheet">

		<!--  Right-sidemenu css -->
		<link href="static/cryptoguidetrading/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!--  Custom Scroll bar-->
		<link href="static/cryptoguidetrading/assets/plugins/mscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

		<!--  Left-Sidebar css -->
		<link href="static/cryptoguidetrading/assets/css/sidemenu.css" rel="stylesheet">

		<!-- style css-->
		<link href="static/cryptoguidetrading/assets/css/style.css" rel="stylesheet">

		<!-- skin css-->
		<link href="static/cryptoguidetrading/assets/css/skin-modes.css" rel="stylesheet">

		<!-- dark-theme css-->
		<link href="static/cryptoguidetrading/assets/css/style-dark.css" rel="stylesheet">

		<!--- Animations css-->
		<link href="static/cryptoguidetrading/assets/css/animate.css" rel="stylesheet">


		<!--Phone number validator-->
		<!--Start of Tawk.to Script-->
<!--End of Tawk.to Script-->
	</head>

	<body class="main-body dark-theme bg_img">

		<!-- Loader -->
		<div id="global-loader" class="dark-loader">
			<img src="static/cryptoguidetrading/assets/img/loaders/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- main-signin-wrapper -->
		<div class="my-auto page page-h">
			<div class="main-signin-wrapper">
				<div class="main-card-signin d-md-flex wd-100p">
				<div class="wd-md-50p login d-none d-md-block page-signin-style p-5 text-white" >
					<div class="my-auto authentication-pages">
						<div>
							<img src="static/cryptoguidetrading/images/luxurypips.png" class=" m-0 mb-4" alt="logo">
<hr>
                        <p class="mb-5">
							    
		  <span class='mb-5'> Want To Start Trading But Don’t Know How? Our 3-steps Easy Will Set You on Your Way! We Offer 24/7 Support, Online Training From Experts & More.</span>
							    
							</p>
							
						</div>
					</div>
				</div>
				<div class="sign-up-body wd-md-50p">
					<div class="main-signin-header">
						<h2>Welcome!</h2>
						<h4>Please Register with Crypto guide Trading1</h4>
						<form action="/register" method="POST" >

             <!-- <div class="form-group row">
                 <div class="col-md-6">
                <label>First Name</label>
                <input type="text" name="firstname" maxlength="50" required class="form-control" name="firstname" id="firstname" placeholder="First Name">
                <span class="firstname error"></span>                               
            </div>

              <div class="col-md-6">
                <label>Last Name</label>
                <input type="text" maxlength="50" required class="form-control" name="lastname"  id="lastname"  placeholder="Last Name">
				<span class="lastname error"></span>
              </div>   
            </div> -->

            <div class="form-group">
              <label>FullName</label>
              <input type="text" class="form-control"name="fullname" id="fullname"placeholder="Enter fullname">
      <span class="fullname error"></span>
      
                                          
          </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" maxlength="60" class="form-control" name="email" placeholder="E-mail"  required >
                <span class="email error"></span>
        
                                            
            </div>

			<div class="form-group">
				<label>Phone Number</label>
			<input type="tel" class="form-control" name="tel" id="tel" placeholder="+1-xxx-xxx-xxxx"required>
				<span class="tel error"></span>
        
			</div>
            
				      
	<div class="form-group" style="color:black!important">
		<label for="country">Country</label>
	<select id="country" class="form-control" name="country" required >
	 <option value="">Country</option>
   <option value="Afganistan">Afghanistan</option>
   <option value="Albania">Albania</option>
   <option value="Algeria">Algeria</option>
   <option value="American Samoa">American Samoa</option>
   <option value="Andorra">Andorra</option>
   <option value="Angola">Angola</option>
   <option value="Anguilla">Anguilla</option>
   <option value="Antigua & Barbuda">Antigua & Barbuda</option>
   <option value="Argentina">Argentina</option>
   <option value="Armenia">Armenia</option>
   <option value="Aruba">Aruba</option>
   <option value="Australia">Australia</option>
   <option value="Austria">Austria</option>
   <option value="Azerbaijan">Azerbaijan</option>
   <option value="Bahamas">Bahamas</option>
   <option value="Bahrain">Bahrain</option>
   <option value="Bangladesh">Bangladesh</option>
   <option value="Barbados">Barbados</option>
   <option value="Belarus">Belarus</option>
   <option value="Belgium">Belgium</option>
   <option value="Belize">Belize</option>
   <option value="Benin">Benin</option>
   <option value="Bermuda">Bermuda</option>
   <option value="Bhutan">Bhutan</option>
   <option value="Bolivia">Bolivia</option>
   <option value="Bonaire">Bonaire</option>
   <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
   <option value="Botswana">Botswana</option>
   <option value="Brazil">Brazil</option>
   <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
   <option value="Brunei">Brunei</option>
   <option value="Bulgaria">Bulgaria</option>
   <option value="Burkina Faso">Burkina Faso</option>
   <option value="Burundi">Burundi</option>
   <option value="Cambodia">Cambodia</option>
   <option value="Cameroon">Cameroon</option>
   <option value="Canada">Canada</option>
   <option value="Canary Islands">Canary Islands</option>
   <option value="Cape Verde">Cape Verde</option>
   <option value="Cayman Islands">Cayman Islands</option>
   <option value="Central African Republic">Central African Republic</option>
   <option value="Chad">Chad</option>
   <option value="Channel Islands">Channel Islands</option>
   <option value="Chile">Chile</option>
   <option value="China">China</option>
   <option value="Christmas Island">Christmas Island</option>
   <option value="Cocos Island">Cocos Island</option>
   <option value="Colombia">Colombia</option>
   <option value="Comoros">Comoros</option>
   <option value="Congo">Congo</option>
   <option value="Cook Islands">Cook Islands</option>
   <option value="Costa Rica">Costa Rica</option>
   <option value="Cote DIvoire">Cote DIvoire</option>
   <option value="Croatia">Croatia</option>
   <option value="Cuba">Cuba</option>
   <option value="Curaco">Curacao</option>
   <option value="Cyprus">Cyprus</option>
   <option value="Czech Republic">Czech Republic</option>
   <option value="Denmark">Denmark</option>
   <option value="Djibouti">Djibouti</option>
   <option value="Dominica">Dominica</option>
   <option value="Dominican Republic">Dominican Republic</option>
   <option value="East Timor">East Timor</option>
   <option value="Ecuador">Ecuador</option>
   <option value="Egypt">Egypt</option>
   <option value="El Salvador">El Salvador</option>
   <option value="Equatorial Guinea">Equatorial Guinea</option>
   <option value="Eritrea">Eritrea</option>
   <option value="Estonia">Estonia</option>
   <option value="Ethiopia">Ethiopia</option>
   <option value="Falkland Islands">Falkland Islands</option>
   <option value="Faroe Islands">Faroe Islands</option>
   <option value="Fiji">Fiji</option>
   <option value="Finland">Finland</option>
   <option value="France">France</option>
   <option value="French Guiana">French Guiana</option>
   <option value="French Polynesia">French Polynesia</option>
   <option value="French Southern Ter">French Southern Ter</option>
   <option value="Gabon">Gabon</option>
   <option value="Gambia">Gambia</option>
   <option value="Georgia">Georgia</option>
   <option value="Germany">Germany</option>
   <option value="Ghana">Ghana</option>
   <option value="Gibraltar">Gibraltar</option>
   <option value="Great Britain">Great Britain</option>
   <option value="Greece">Greece</option>
   <option value="Greenland">Greenland</option>
   <option value="Grenada">Grenada</option>
   <option value="Guadeloupe">Guadeloupe</option>
   <option value="Guam">Guam</option>
   <option value="Guatemala">Guatemala</option>
   <option value="Guinea">Guinea</option>
   <option value="Guyana">Guyana</option>
   <option value="Haiti">Haiti</option>
   <option value="Hawaii">Hawaii</option>
   <option value="Honduras">Honduras</option>
   <option value="Hong Kong">Hong Kong</option>
   <option value="Hungary">Hungary</option>
   <option value="Iceland">Iceland</option>
   <option value="Indonesia">Indonesia</option>
   <option value="India">India</option>
   <option value="Iran">Iran</option>
   <option value="Iraq">Iraq</option>
   <option value="Ireland">Ireland</option>
   <option value="Isle of Man">Isle of Man</option>
   <option value="Israel">Israel</option>
   <option value="Italy">Italy</option>
   <option value="Jamaica">Jamaica</option>
   <option value="Japan">Japan</option>
   <option value="Jordan">Jordan</option>
   <option value="Kazakhstan">Kazakhstan</option>
   <option value="Kenya">Kenya</option>
   <option value="Kiribati">Kiribati</option>
   <option value="Korea North">Korea North</option>
   <option value="Korea Sout">Korea South</option>
   <option value="Kuwait">Kuwait</option>
   <option value="Kyrgyzstan">Kyrgyzstan</option>
   <option value="Laos">Laos</option>
   <option value="Latvia">Latvia</option>
   <option value="Lebanon">Lebanon</option>
   <option value="Lesotho">Lesotho</option>
   <option value="Liberia">Liberia</option>
   <option value="Libya">Libya</option>
   <option value="Liechtenstein">Liechtenstein</option>
   <option value="Lithuania">Lithuania</option>
   <option value="Luxembourg">Luxembourg</option>
   <option value="Macau">Macau</option>
   <option value="Macedonia">Macedonia</option>
   <option value="Madagascar">Madagascar</option>
   <option value="Malaysia">Malaysia</option>
   <option value="Malawi">Malawi</option>
   <option value="Maldives">Maldives</option>
   <option value="Mali">Mali</option>
   <option value="Malta">Malta</option>
   <option value="Marshall Islands">Marshall Islands</option>
   <option value="Martinique">Martinique</option>
   <option value="Mauritania">Mauritania</option>
   <option value="Mauritius">Mauritius</option>
   <option value="Mayotte">Mayotte</option>
   <option value="Mexico">Mexico</option>
   <option value="Midway Islands">Midway Islands</option>
   <option value="Moldova">Moldova</option>
   <option value="Monaco">Monaco</option>
   <option value="Mongolia">Mongolia</option>
   <option value="Montserrat">Montserrat</option>
   <option value="Morocco">Morocco</option>
   <option value="Mozambique">Mozambique</option>
   <option value="Myanmar">Myanmar</option>
   <option value="Nambia">Nambia</option>
   <option value="Nauru">Nauru</option>
   <option value="Nepal">Nepal</option>
   <option value="Netherland Antilles">Netherland Antilles</option>
   <option value="Netherlands">Netherlands (Holland, Europe)</option>
   <option value="Nevis">Nevis</option>
   <option value="New Caledonia">New Caledonia</option>
   <option value="New Zealand">New Zealand</option>
   <option value="Nicaragua">Nicaragua</option>
   <option value="Niger">Niger</option>
   <option value="Nigeria">Nigeria</option>
   <option value="Niue">Niue</option>
   <option value="Norfolk Island">Norfolk Island</option>
   <option value="Norway">Norway</option>
   <option value="Oman">Oman</option>
   <option value="Pakistan">Pakistan</option>
   <option value="Palau Island">Palau Island</option>
   <option value="Palestine">Palestine</option>
   <option value="Panama">Panama</option>
   <option value="Papua New Guinea">Papua New Guinea</option>
   <option value="Paraguay">Paraguay</option>
   <option value="Peru">Peru</option>
   <option value="Phillipines">Philippines</option>
   <option value="Pitcairn Island">Pitcairn Island</option>
   <option value="Poland">Poland</option>
   <option value="Portugal">Portugal</option>
   <option value="Puerto Rico">Puerto Rico</option>
   <option value="Qatar">Qatar</option>
   <option value="Republic of Montenegro">Republic of Montenegro</option>
   <option value="Republic of Serbia">Republic of Serbia</option>
   <option value="Reunion">Reunion</option>
   <option value="Romania">Romania</option>
   <option value="Russia">Russia</option>
   <option value="Rwanda">Rwanda</option>
   <option value="St Barthelemy">St Barthelemy</option>
   <option value="St Eustatius">St Eustatius</option>
   <option value="St Helena">St Helena</option>
   <option value="St Kitts-Nevis">St Kitts-Nevis</option>
   <option value="St Lucia">St Lucia</option>
   <option value="St Maarten">St Maarten</option>
   <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
   <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
   <option value="Saipan">Saipan</option>
   <option value="Samoa">Samoa</option>
   <option value="Samoa American">Samoa American</option>
   <option value="San Marino">San Marino</option>
   <option value="Sao Tome & Principe">Sao Tome & Principe</option>
   <option value="Saudi Arabia">Saudi Arabia</option>
   <option value="Senegal">Senegal</option>
   <option value="Seychelles">Seychelles</option>
   <option value="Sierra Leone">Sierra Leone</option>
   <option value="Singapore">Singapore</option>
   <option value="Slovakia">Slovakia</option>
   <option value="Slovenia">Slovenia</option>
   <option value="Solomon Islands">Solomon Islands</option>
   <option value="Somalia">Somalia</option>
   <option value="South Africa">South Africa</option>
   <option value="Spain">Spain</option>
   <option value="Sri Lanka">Sri Lanka</option>
   <option value="Sudan">Sudan</option>
   <option value="Suriname">Suriname</option>
   <option value="Swaziland">Swaziland</option>
   <option value="Sweden">Sweden</option>
   <option value="Switzerland">Switzerland</option>
   <option value="Syria">Syria</option>
   <option value="Tahiti">Tahiti</option>
   <option value="Taiwan">Taiwan</option>
   <option value="Tajikistan">Tajikistan</option>
   <option value="Tanzania">Tanzania</option>
   <option value="Thailand">Thailand</option>
   <option value="Togo">Togo</option>
   <option value="Tokelau">Tokelau</option>
   <option value="Tonga">Tonga</option>
   <option value="Trinidad & Tobago">Trinidad & Tobago</option>
   <option value="Tunisia">Tunisia</option>
   <option value="Turkey">Turkey</option>
   <option value="Turkmenistan">Turkmenistan</option>
   <option value="Turks & Caicos Is">Turks & Caicos Is</option>
   <option value="Tuvalu">Tuvalu</option>
   <option value="Uganda">Uganda</option>
   <option value="United Kingdom">United Kingdom</option>
   <option value="Ukraine">Ukraine</option>
   <option value="United Arab Erimates">United Arab Emirates</option>
   <option value="United States of America">United States of America</option>
   <option value="Uraguay">Uruguay</option>
   <option value="Uzbekistan">Uzbekistan</option>
   <option value="Vanuatu">Vanuatu</option>
   <option value="Vatican City State">Vatican City State</option>
   <option value="Venezuela">Venezuela</option>
   <option value="Vietnam">Vietnam</option>
   <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
   <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
   <option value="Wake Island">Wake Island</option>
   <option value="Wallis & Futana Is">Wallis & Futana Is</option>
   <option value="Yemen">Yemen</option>
   <option value="Zaire">Zaire</option>
   <option value="Zambia">Zambia</option>
   <option value="Zimbabwe">Zimbabwe</option>
</select>
<span class="country error"></span>
			</div>
			
			<div class="form-group" style="color:black!important">
				<label for="gender">Gender</label>
                <select id="gender"  name="gender"  class="form-control" required >
                 <option value="gender">Select Gender</option>
               <option value="Male">Male</option>
               <option value="feMale">Gender</option>
            </select>
            <span class="gender error"></span>
            </div>

			<div class="form-group">
                <label>Password</label>
				<input type="password" class="form-control" name="password" id="password"  placeholder="password" required>
				<span class="password error"></span> 
        
			</div>
            
          
			
            
            <div class="form-group d-flex justify-content-center">
                <div class="form-check form-check-flat mt-0">
                <label class="form-check-label">
                    <input type="checkbox" value="1" class="form-check-input" checked required>
                    I agree to the terms and conditions
                </label>
                </div>
            </div>

            <div class="form-group">
            <button class="btn btn-primary submit-btn btn-block" name="submit">Sign Up</button>
            
            </div>
        </form>
					</div>
					<div class="main-signup-footer mg-t-10">
						<p>Already have an account? <a href="/login">Sign In</a></p>
					</div>
					</div>
				</div>
			</div>
			
			<center>&copy; 2024 Crypto guide Trading1. All Rights Reserved.</center>

			<script>
				const form = document.querySelector('form');
			 
				const emailError = document.querySelector('.email.error');
				const passwordError = document.querySelector('.password.error');
			  
				form.addEventListener('submit', async (e) => {
				  e.preventDefault();
				  // reset errors
				  emailError.textContent = '';
				  passwordError.textContent = '';
			   
				  // get values
			  	const fullname = form.fullname.value;
				  const email = form.email.value;
          const tel = form.tel.value;
				  const country = form.country.value;
				  const gender = form.gender.value;
				  const password = form.password.value;
				  try {
					const res = await fetch('/register', { 
					  method: 'POST', 
					  body: JSON.stringify({fullname,tel, country, gender, email, password }),
					  headers: {'Content-Type': 'application/json'}
					});
					const data = await res.json();
					console.log(data);
					if (data.errors) {
					  emailError.textContent = data.errors.email;
					  passwordError.textContent = data.errors.password;
					}
					if (data.user) {
					  location.assign('/dashboard');
					}
				  }
				  catch (err) {
					console.log(err);
				  }
				});
			  </script>
			
			<!-- JQuery min js -->
			<script src="static/cryptoguidetrading/assets/plugins/jquery/jquery.min.js"></script>
	
			<!-- Bootstrap Bundle js -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %}" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">

      </script>
			
	
			<script src="static/cryptoguidetrading/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	
			<!-- Ionicons js -->
			<script src="static/cryptoguidetrading/assets/plugins/ionicons/ionicons.js"></script>
	
			<!-- Moment js -->
			<script src="static/cryptoguidetrading/assets/plugins/moment/moment.js"></script>
	
			<!-- eva-icons js -->
			<script src="static/cryptoguidetrading/assets/js/eva-icons.min.js"></script>
	
			<!-- Rating js-->
			<script src="static/cryptoguidetrading/assets/plugins/rating/jquery.rating-stars.js"></script>
			<script src="static/cryptoguidetrading/assets/plugins/rating/jquery.barrating.js"></script>
	
			<!-- Custom js -->
			<script src="static/cryptoguidetrading/assets/js/custom.js"></script>
	
			<script src="static/cryptoguidetrading/phonefield/build/js/intlTelInput.js"></script>
  
		</body>
	